* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #257489;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > * {
    margin: 10px;
}

article {
    background-color: white;
    width: 500px;
    padding: 0 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.darkMode {
    background-color: black;
    color: white;
}

article > div:last-child {
    display: flex;
    align-items: center;
    gap: 20px;
}

article > div:last-child > button {
    width: 50px;
    height: 50px;
    border: none;
}

.remove-button {
    background-color: darkred;
}

.done-button {
    background-color: green;
}

article > div button::before {
    font-size: 40px;
    vertical-align: middle;
    line-height: 2px;
}

.remove-button::before {
    content: "\1F5D1";
}

.done-button::before {
    content: "\2714";
    color: white;
}

article.done {
    background-color: #7cd25b;
}

article.done > div:first-child {
    text-decoration: line-through;
}